body {
  margin: 0 18px 0 18px;
  padding-bottom: 30px;
  font-family: Verdana, "DejaVu Sans", sans-serif;
}

h1, h1 a, h2, h2 a, h3, h3 a {
  font-weight: bold;
  color: #ff9900;
  margin: 1.3em 0 8px 0;
}

